---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			question: 'Do I really need 3 quotes; wont they be all the same price?',
			answer: `

Yes it is really important. You will be able to see price differences and if your first choice of removal company is fully booked on the day you plan to move you have another removal company to fall back on. Moving quotes are a free of charge service, do not pay for this service. We offer a free of charge no obligation service where you fill out your details and we forward to removal companies to quote directly. Prices do vary, always get a quote in writing, check the small print and that it includes all the services required, i.e. if you are moving into storage that it also includes to move out. Check also if you are moving into storage for a fixed time that if you overrun the storage rates are still reasonable.
.`,
		},
		{
			question: 'Is there a set rate for a removal job?',
			answer: `The only set rates for removals are generally an hourly rate. Often used by small man and van companies. Many factors can influence a move, these include access availability, distance moving as well as a persons contents of their home. Companies prefer to look at a move then the can be prepared for any problems like parking..

    Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.`,
		},
		{
			question: "How do removal companies come up with quotation prices?",
			answer: `The cost of a home removal is calculated by calculating loading time, unloading time and time traveling to the destination. As well as this how many porters it will take to clear the property in the given time frame. Long distances add considerably to the price of a removal; because of high fuel prices (removal vehicles only managing around 10-20 miles to the gallon), labour costs as wages still have to be paid even though the porters are not working just traveling and enjoying the view.
Restrictions on the hours a driver can drive for also come into play. Night out money (subsistence), parking costs and wear and tear on a vehicle have to be included as well. `,
		},
	],
	[
		{
			question: "What's an example of when you changed your mind?",
			answer: `Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.`,
		},
		{
			question: 'What is something that you would really like to try again?',
			answer: `A business big enough that it could be listed on the NASDAQ goes belly up. Disappears!

      It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.`,
		},
		{
			question: 'If you could only ask one question to each person you meet, what would that question be?',
			answer: `This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.`,
		},
	],
];
---

<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
	<div class="max-w-xl sm:mx-auto lg:max-w-2xl">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<h2 class="max-w-lg mb-4 text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto font-heading">
				Frequently Asked Questions
			</h2>
		</div>
	</div>
	<div class="max-w-screen-xl sm:mx-auto">
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
			{
				items.map((subitems) => (
					<div class="space-y-8">
						{subitems.map(({ question, answer }) => (
							<div>
								<p class="mb-4 text-xl font-bold">
									<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-primary-500 inline-block" />
									{question}
								</p>
								{answer.split('\n\n').map((paragraph) => (
									<p class="text-gray-700 dark:text-gray-400 mb-2" set:html={paragraph} />
								))}
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</div>
