---

import { Picture } from '@astrojs/image/components'
---

<div class="min-w-full text-xl">
    <div class=" relative m-auto max-w-4xl pb-10">
        <Picture
            src={import('~/assets/images/hero-iSelect.png')}
            class="mx-auto rounded-md w-full"
            widths={[400, 768, 1480]}
            sizes="(max-width: 767px) 400px, (max-width: 1479px) 768px, 1480px"
            alt="Hero Image"
            aspectRatio={1480/833}
            loading="eager"
            width={1480}
            height={833}
        />
        <div id="iSelectMovers-Form" style="" class="flex flex-nowrap justify-center text-center min-w-full">
            <div class=" m-auto min-w-full form-bgnd text-center mt-10 mb-10">
                <div class="text-center pt-10">
                    
                    
<form>
    <div class="mb-6 text-left">
        <h1 class="text-3xl pb-5 pt-10 text-left">Tell Us About Your Move</h1>
      <label for="email" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Your email</label>
      <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required>
    </div>
    <div class="mb-6  text-left">
      <label for="password" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Your password</label>
      <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>
    <!-- <div class="flex items-start mb-6">
      <div class="flex items-center h-5">
        <input id="remember" type="checkbox" value="" class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" required>
      </div>
      <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
    </div> -->
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-md w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
  </form>
  
                </div>
            </div>
        </div>
    </div>
    

    
</div>